.footer {
  position: relative;
  font-size: 0.8rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem 0;
  color: var(--color-font-3);
  & a {
    color: var(--color-font-4);
  }
}
