.tag {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 0px;
  height: 20px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 0.75rem;
  line-height: 120%;
  color: var(--color-font-6);
  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }
}
