.main {
  position: relative;
  padding: 0 0 4rem;
  .posts {
    .post {
      position: relative;
      padding: 1rem 2.5rem;
      border-radius: 1.5rem;
      .date {
        opacity: 0.65;
      }
      .read {
        & a {
          color: #2563eb;
          text-decoration: none;
        }
      }
      // &:hover {
      //   background: #fafafa8c;
      //   border: 1px solid #fafafa;
      // }
    }
  }
  .readMore {
    padding: 1rem 0 0 2.5rem;
    text-decoration: underline;
    & a {
      color: #000;
    }
  }
}
