.main {
  position: relative;
  padding: 0 0 12rem;
  .posts {
    .post {
      position: relative;
      padding: 1rem 2.5rem;
      border-radius: 1.5rem;
      .date {
        opacity: 0.65;
      }
      .read a {
        color: #2563eb;
        text-decoration: none;
      }
      &:hover {
        background: var(--color-bg-hover);
        .title {
          color: #2563eb;
        }
        .read a {
          color: var(--color-font-hover);
        }
      }
    }
  }
  .readMore {
    padding: 1rem 0 0 2.5rem;
    text-decoration: underline;
    & a {
      color: #000;
    }
  }
}
