.App {
  position: relative;
  min-height: 100vh;
}
.layout {
  max-width: 666px;
  margin: 0 auto;
}
.section {
  padding-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0 0.75rem;
  }
}
