.navbar {
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 1;
  .navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    .left {
      color: #333;
      text-transform: none;
      background-image: linear-gradient(
        45deg,
        rgb(51, 51, 51) -20%,
        rgb(0, 112, 243) 70%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .center {
      & ul li {
        display: inline;
        margin: 0 0.5rem;
        // &:not(:last-child) {
        //   margin: 0 0.5rem;
        // }
      }
    }
    .right {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
