.navbar {
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 1;
  .navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    .left {
      color: #333;
      text-transform: none;
      background-image: linear-gradient(
        45deg,
        rgb(51, 51, 51) -20%,
        rgb(0, 112, 243) 70%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .center {
      & ul li {
        display: inline;
        margin: 0 0.5rem;
        line-height: 1.25rem;
        font-size: 0.875rem;
        a {
          color: #1b1b18;
          background: #1c1c0213;
          padding: 0.5rem 1rem;
          border-radius: 9999px;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 16px;
      height: 16px;
      transition: transform .7s ease-in;
      transform-origin: center;
      // &:hover {
      //   transform: rotate(360deg);
      // }
    }
  }
}
@media screen and (max-width: 567px) {
  .navbar .navi {
    justify-content: center;
  }
}
