.archive {
  padding: 3.6rem 0;
  position: relative;
  &__header {
    text-align: center;
    padding: 2rem 0;
  }
  &__item {
    padding-top: 2rem;
  }
  &__year {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #ececec;
    & h2 {
      margin: 0;
    }
    & img {
      width: 1.75rem;
      height: 1.75rem;
      fill: currentColor;
      display: inline-block;
    }
  }
  &__post {
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    color: #434648;
    overflow: hidden;
  }
  &__title {
    float: left;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    & a {
      color: #434648;
    }
  }
  &__time {
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
