body[data-theme='light'] {
  color-scheme: light;
  --color-background: #fff;
  --color-font: #333;
  --color-font-footer: #6b7886;
  --color-font-footer-a: #0070f3;
  --color-bg-post-hover: #edf1fa;
  --color-ar-post-name: #434648;
  --color-font-nav-Active: #1b1b18;
  --color-font-nav: #706f6c;
  --image-grayscale: 0;
  --image-opacity: 100%;
}
body[data-theme='dark'] {
  color-scheme: dark;
  --color-background: #16181d;
  --color-font: #ffffffdb;
  --color-font-footer: #6b7886;
  --color-font-footer-a: #0070f3;
  --color-bg-post-hover: #1d2433;
  --color-ar-post-name: #c7bebe;
  --color-font-nav-Active: #ededec;
  --color-font-nav: #a1a09a;
  --image-grayscale: 50%;
  --image-opacity: 90%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background: var(--color-background);
  color: var(--color-font);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

body {
  margin: 0;
  padding: 0;
}

a {
  /* color: #0070f3; */
  text-decoration: none;
}
img,
video {
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}
.emoji {
  position: absolute;
  pointer-events: none;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    translate: 0 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    translate: 0 100px;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    translate: 0 80px;
    opacity: 0;
  }
}
