body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: inline;
}
.emoji {
  position: absolute;
  pointer-events: none;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    translate: 0 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    translate: 0 100px;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    translate: 0 80px;
    opacity: 0;
  }
}
