.App {
  position: relative;
  max-width: 666px;
  margin: 0 auto;
  padding: 0 1.3125rem 100px 1.3125rem;
}
.emoji {
  position: absolute;
  pointer-events: none;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    translate: 0 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    translate: 0 100px;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    translate: 0 80px;
    opacity: 0;
  }
}