.content {
  position: relative;
  padding: 0 0 2rem;
  &__post:hover {
    background: var(--color-bg-hover);
    .content__title {
      color: #2563eb;
    }
    .content__read a {
      color: #000;
    }
    .content__arrow {
      opacity: 1;
    }
  }
  &__post {
    position: relative;
    padding: 1rem 0.5rem;
    border-radius: 1.5rem;
  }
  &__date {
    opacity: 0.65;
  }
  &__read {
    position: relative;
  }
  &__arrow {
    opacity: 0;
  }
  &__read a {
    color: #2563eb;
    text-decoration: none;
  }
  &__readMore {
    padding: 1rem 0 0 2.5rem;
    float: right;
    text-decoration: underline;
    & a {
      color: var(--color-font-1);
    }
  }
}
